.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Ensure it's on top of other elements */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Position at the left of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative; /* Ensure relative positioning for the X button */
  background-color: white;
  min-width: 30%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
}

/* Additional styles for form and inputs */
.popup-inner form {
  display: flex;
  flex-direction: column;
}

.popup-inner label {
  margin-bottom: 8px;
}

.popup-inner input {
  padding: 8px;
  margin-bottom: 16px;
}

.popup-inner button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff; /* Change to your desired button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles for custom and random buttons */
.debate-type-buttons {
  display: flex;
  margin-bottom: 16px;
}

.debate-type-buttons button {
  background-color: white;
  color: black;
  border: 2px solid #007bff;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.debate-type-buttons button:hover {
  background-color: #007bff;
  color: white;
}

.debate-type-buttons button.active {
  background-color: #007bff;
  color: white;
}

/* Styles for radio inputs */
.debate-type-buttons input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.debate-type-buttons input[type="radio"]:checked + button {
  background-color: #007bff;
  color: white;
}

.random-topic-input {
  background-color: #f2f2f2; /* Grey background */
  color: #666; /* Grey text color */
}

.random-topic-label {
  font-size: 12px; /* Adjust label font size */
  color: #666; /* Grey text color */
}
