* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

.home,
.debates, 
.debateroom__containr,
.achievements,
.loginsignup {
  background-image: url("images/asdf.png");
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}
  
.debates,.achievements {
  flex-direction: column;
  min-height: 100vh;
}

.loginsignup {
  min-height: 100vh;
  font-size: 3rem;
}

.home{
  overflow: hidden;
  min-height: 100vh;
}